body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  margin: 10px;
  padding: 10px;
}

.myslideshow {
  border: 2px solid black;
  display: flex;  
  flex-direction: row;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

img {
   width: 200px;
   height: 130px;
}

button {
  font-size: 15px;
  padding: 10px;
  margin: 4px 2px;
  font-weight: bold;
}

.slide {
/*  border: 2px solid black; */
  position: relative;
  text-align: center;
  margin: 3px;
  padding: 3px;
  height: 250px;
  width: 450px;
  object-fit: cover;
  object-position: center;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.8s;
  transition-timing-function: ease-in;
  animation: slider 10s linear ;
}

.hide {
  display: none;
}

@keyframes slider {
  100% { 
    transform: translateX(-90.6666%);  
  }
}
